.well h1 {
    color: #115511;
}

body {
  padding-top: 70px;
}

.navbar-brand {
    font-size: 125%;
    color: rgba(0, 0, 0, 1);
    padding-top: 5px;
    padding-bottom: 5px;
}

#navbar-icon {
    margin: 0.25em;
    padding-right: 5px;
}

.btn-download {
    width: 100%;
    border-color: rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom,#62c462,#51a351);
}

a.btn-download {
    color: white;

}
/* --- sidebar download links --- */
.latest-version {
    margin: 12px;
}
.dl-links {
    list-style: none;
}

.dl-links li {
    line-height: 26px;
    padding-left: 26px;
}

/* --- downloads page table --- */

.download-list {
  width: 100%;
}

.download-list tr.infos {
  border-top: 1px solid #CCC;
}

.download-list .infos td {
  padding: 0.6em 0.25em 0.5em;
}

.download-list .infos td.rev {
    width: 18%;
    font-weight:bold;
    text-align: center;
}
.download-list .infos td.date {
    width: 18%;
    text-align: center;
}

.download-list .infos .description {
    font-style:italic;
}
.download-list .links td {
  padding: 0.6em 0.25em 0.5em;

}
/* --- icons --- */

.li-icon-windows {
    background: url("/images/icon-windows.png") 0 2px no-repeat;
}

.li-icon-linux {
    background-image: url("/images/icon-linux.png")
}

.li-icon-apple {
    background-image: url("/images/icon-apple.png")
}

/* --- bootstrap.css theming --- */

.alert {
  border-color: #EEE;
}

.page-header {
  margin-top:10px;
}
