<h1>Links</h1>
<ul>
  <li><a href="https://github.com/mcedit/mcedit2/wiki/Reporting-Issues">Report an issue</a></li>
  <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=UZGWD6FFLCFJA&lc=US&item_name=MCEdit%2c%20a%20World%20Editor%20for%20Minecraft&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted">Donate via PayPal</a></li>
  <li><a href="http://www.patreon.com/mcedit2">Donate via Patreon</a></li>
  <li><a href="/tools.html">Other tools</a></li>
  <li><a href="http://khroki.github.io/MCEdit-Unified/">MCEdit 1.x (legacy codebase)</a></li>
  <li><a href="http://minecraft.net">Play Minecraft</a></li>
</ul>
